/*! == THEME STYLES == */

/*===========GLOBAL==========*/

/*a.inline {
    position: relative;
    z-index: 10;
    &:after {
        content:'';
        position: absolute;
        width:100%;
        height:0;
        left:0;
        bottom: 0;
        background:red;
        z-index: 1;
        transition:height 0.5s ease;
    }
    &:hover:after {
        height:100%;
    }
}*/

.lg-narrow {
  padding: 0 20%;
}

.heading {
  &.inline-icon {
    position: relative;
    svg {
      height: 1em;
      position: absolute;
      right: 0;
      top: 0;
      fill: silver;
    }
  }
}
.outer-wrapper {
  position: relative;
  padding: 0 2em;
}
.container.fullwidth {
  max-width: none;
}
.search-wrapper {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: $brand-dark-grey;
  z-index: 9999;
  transition: top 0.5s ease-in-out;
  &.open {
    top: 0;
  }
  .close-search {
    vertical-align: middle;
    line-height: 3em;
    font-size: 1em;
    text-transform: uppercase;
    text-align: right;
    transition: color 0.5s ease;
    i {
      font-size: 3em;
      line-height: 1em;
      vertical-align: middle;
      margin-right: 0.25em;
    }
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
  form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5em;
  }
  input[type="search"] {
    border: none;
    border-radius: 0;
    padding: 0.25em 1em;
    font-size: 1.25em;
  }
  input::-webkit-input-placeholder {
    opacity: 0.35;
  }
  input[type="submit"] {
    padding: 1em;
    width: 4em;
    height: 100%;
    border: none;
    border-radius: 0;
    font-family: "Font Awesome 5 Free";
    font-size: 1em;
    font-weight: 900;
    background: $brand-primary;
    color: white;
  }
  .logo {
    margin-bottom: 2em;
    svg {
      display: block;
      height: 2em;
      path {
        fill: white;
      }
    }
  }
  .mainMenu {
    text-align: left;
    a {
      font-size: 1.2em;
      padding-bottom: 0.5em;
      color: white;
      transition: all 0.5s ease;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .container {
    border-bottom: 1px solid white;
  }
  .container > .col {
    align-self: center;
  }
}
/*===========HEADER==========*/

.contact {
  .enquire-button {
    display: none;
  }
}

.scrolled .contact {
  a {
    display: none;
  }
  .enquire-button {
    display: block;
  }
  .enquire-button a {
    display: block;
    padding: 0.5em 3em;
    font-family: $body-font;
    text-transform: uppercase;
    text-align: center;
    background: $brand-primary;
    color: white;
  }
}

/*===========BODY==========*/
.boxed-content {
  > .col {
    @include brandBorder;
    background: white;
    border-bottom: none;
  }
  &.last > .col:last-of-type {
    @include brandBorderBottom;
  }

  &--right-border {
    @include brandBorderRight;
  }

  .col.content {
    position: relative;
    padding: $contentPadding;
  }

  .col.last {
    @include brandBorderBottom;
  }

  &--no-fill > .col {
    background: transparent;
    color: white;
  }
}
.map-link {
  text-align: center;
  align-self: center;
  svg {
    width: 60%;
    height: auto;
  }
}
.border-top {
  @include brandBorderTop;
}

.panel-icon {
  position: absolute;
  left: -5em;
}

.button-icon {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}
.leader {
  &__item {
    .image {
      @include backgroundCover;
      height: 15em;
    }
    .content {
      padding: $contentPadding;
    }
  }
  .col:last-of-type {
    border-right: none;
    .image {
      /*width:calc(100% + 1px);*/
    }
  }
}

.tabs-wrapper {
  overflow: hidden;
  .tabs-header {
    ul {
      display: grid;
      li {
        @include brandBorderBottom;
        @include brandBorderRight;
        grid-row-start: 1;
        grid-row-end: 2;
        font-family: $brand-font;
        padding: 1.5em 2em;
        text-align: center;
        color: $brand-primary;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
        &:last-of-type {
          border-right: none;
        }
        &.active {
          background: $brand-primary;
          color: white;
          svg path {
            fill: white;
          }
        }
        p {
          display: inline-block;
        }
        svg {
          path {
            fill: $brand-primary;
          }
        }
      }
    }
  }
  .tabs-body {
    height: 100%;
    position: relative;
    width: 100%;
    .item {
      display: none;
      height: 100%;
      width: 100%;
      &:first-child {
        display: block;
      }
      .image {
        @include backgroundCover;
        @include brandBorderLeft;
        height: 100%;
        width: calc(100% + 1px);
      }
    }
  }
}

.fullwidth-info-block {
  @include backgroundContain;
  background-position: top right !important;
  .info-panel {
    position: relative;
    margin-top: 25em;
    &:before {
      content: "";
      position: absolute;
      top: -8em;
      left: 50%;
      height: 8em;
      width: 1px;
      background: $brand-primary;
    }
    &:after {
      @include brandBorder;
      content: "";
      position: absolute;
      top: -10em;
      left: 50%;
      margin-left: -1em;
      height: 2em;
      width: 2em;
      border-radius: 50px;
    }
    .heading-wrapper {
      @include brandBorderBottom;
      position: relative;
      padding: 1em 3em;
    }
    .content {
      padding: 1em 3em;
    }
  }
}

.cta {
  position: relative;
  .content {
    position: relative;
    z-index: 10;
    p {
      color: white;
    }
    .button__ghost {
      display: inline-block;
      padding: 1em 5em;
      font-style: italic;
      border: 1px solid white;
      background: transparent;
      color: white;
    }
  }
  &.bottom {
    background-position: center bottom !important;
  }
  &.top {
    background-position: center top !important;
  }
  &.fixed {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  &--fullwidth {
    @include backgroundCover;
    &:before {
      @include childOverlay;
      @include blackGrad;
      opacity: 0.5;
      z-index: 1;
    }
  }
  &--focus {
    @include backgroundCover;
    margin-bottom: 5em;
    .content {
      padding: 5em;
      text-align: center;
      p {
        color: white;
      }
      a {
        margin-top: 1em;
        padding: 0.5em 5em;
        font-family: $brand-font;
        font-style: italic;
        font-size: 1.2em;
        border: 1px solid white;
        color: white;
      }
    }
  }
}

.quote {
  .heading {
    position: relative;
    font-style: italic;
  }
  &__button {
    position: relative;
    padding: $contentPadding;
    font-family: $brand-font;
    font-style: italic;
    background: white;
    a {
      display: block;
      padding-right: 100px;
      font-size: 1.3em;
    }
    &:before {
      content: "";
      position: absolute;
      right: 5em;
      top: 50%;
      margin-top: -1em;
      height: 2em;
      width: 2em;
      border-top: 1px solid $brand-primary;
      border-right: 1px solid $brand-primary;
      transform: rotate(45deg);
    }
  }
}

/* ===== SLIDER======*/

.slider-wrapper {
  position: relative;
  max-width: 100vw !important;
  padding-top: 7em;
  overflow: hidden;
  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99;
    text-align: center;
    width: 100%;
    display: grid;
    align-items: center;

    /*&:after {
            @include childOverlay;
            background: black;
            opacity:0.2;
            z-index: -1;
        }*/
    .heading {
      align-self: flex-end;
      &__alt {
        align-self: flex-start;
        padding-top: 1em;
      }
      a,
      a:hover {
        color: white;
      }
    }
  }
}

#slider {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(75vh - 7em);
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  width: 100%;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background: #ccc;
  text-align: center;

  .slider-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    mix-blend-mode: multiply;
    &:before {
      @include childOverlay;
      background: black;
      opacity: 0.1;
      z-index: -1;
    }
  }
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.5s ease;
  svg {
    height: 2em;
    path {
      fill: white;
    }
  }
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_next {
  right: 0;
}

a.control_prev {
  svg {
    transform: rotate(180deg);
  }
}

.description {
  &.camp,
  &.safari,
  &.multi-col {
    p:first-of-type {
      @include emphasisText;
    }
  }
  &.multi-col {
    column-count: 2;
    p:first-of-type {
      margin-top: 0;
    }
  }
}
.listing-item {
  @include brandBorder;
  display: flex;
  flex-direction: column;
  width: 100%;
  .image {
    @include backgroundCover;
    display: grid;
    align-content: center;
    height: 15em;
    text-align: center;
  }
  .item {
    @include brandBorderBottom;
    padding: 0.5em 2em;
    &:last-of-type {
      flex-grow: 1;
    }
    i {
      margin-right: 1em;
      color: $brand-primary;
    }
  }
  > a {
    padding: 1em 2em;
    font-family: $brand-font;
    font-style: italic;
    background: $brand-primary;
    color: white;
  }
}

.leaders {
  &.focus {
    .image {
      @include brandBorder;
      @include backgroundCover;
      height: 15em;
    }
    a {
      display: inline-block;
      margin: 0 0 3em;
      padding: 1em 5em 1em 2em;
      font-family: $brand-font;
      font-style: italic;
      background: $brand-primary;
      color: white;
    }
  }
}

.hero.home {
    position:relative;
  display: grid;
}

.hero-carousel {
  position: relative;
  .carousel_module {
    .owl-item {
      position: relative;
      height: 85vh;
      &:before {
        @include childOverlay;
        @include blackGrad;
        z-index: 10;
        top: initial;
        bottom: 0;
        opacity: 0.3;
        height: 50%;
      }
    }
  }
  .content-wrapper {
    position: absolute;
    bottom: 8em;
    left: 0;
    width: 100%;
    z-index: 99;
  }
}

.left-hero {
  align-content: flex-end;
  height: 85vh;
}

.floating-heading {
  position: absolute;
  z-index: 999;
  top: -20vh;
  left: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
  width: 100%;
  a {
    color: white;
  }
  &.fade-out {
    opacity: 0;
  }
}

.sidebar {
  > .heading {
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
  }
  &.enabled > .heading {
    max-height: 10em;
  }
}

.hero-leader {
  &__item {
    @include brandBorder;
    background: white;
    color: $brand-primary;
    .image {
      @include backgroundCover;
      height: 10em;
    }
    svg {
      path {
        fill: $brand-primary;
      }
    }
    .content {
      padding: 2em 3em;
    }
  }
}

.hero.standard {
  .container {
    align-content: center;
  }
}

.hero__section-lead {
  display: grid;
  .above-leader {
    max-width: 60em;
    margin: 0 auto;
    align-self: flex-end;
    text-align: center;
  }
}

.lower-grad {
  position: relative;
  &:before {
    @include childOverlay;
    @include blackGrad;
    top: initial;
    bottom: 0;
    height: 50%;
    opacity: 0.4;
  }
}

.map-outer-wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper {
  position: relative;
  height: 25vh;
  width: 100%;
  background: grey;
}

.point {
  content: "";
  position: absolute;
  z-index: 999;
  span {
    content: "";
    display: block;
    border-radius: 50em;
    width: 1em;
    height: 1em;
    background: blue;
    margin: 0.5em 0 0 0.5em;
    left: 0.25em;
    top: 0.25em;
    position: absolute;
  }
  &#one {
    top: 10%;
    left: 50%;
  }

  &#two {
    top: 50%;
    left: 10%;
  }

  &#three {
    top: 80%;
    left: 30%;
  }

  &#four {
    top: 10%;
    left: 80%;
  }
}

#svg {
  position: absolute;
  top: 0;
  left: 0;

  polyline {
    stroke-width: 0.2px;
    stroke-dasharray: 1px;
    stroke: #515544;
  }
}
.camp-map {
  position: relative;
  .positioning-wrapper {
    position: relative;
  }
  img {
    display: block;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    opacity: 0.5;
  }
  svg#overlay,
  svg#labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .water-level {
    fill: #739199;
    opacity: 0.5;
    transition: opacity 1s ease;
    &.high {
    }
    &.low {
    }
    &.hide {
      opacity: 0;
    }
  }
  .marker {
    content: "";
    position: absolute;
    left: 50%;
    margin-top: -0.75em;
    margin-left: -0.75em;
    bottom: calc(-12px - 1.5em);
    height: 1.5em;
    width: 1.5em;
    display: none;
    border-radius: 50px;
    border: 1px solid $brand-primary;
    background: $brand-secondary;
    transition: background 0.5s 0.2s ease;
    animation: shadow-pulse 3s infinite;
    &:hover {
      cursor: pointer;
    }
    &.live {
      background: white;
      box-shadow: 0 0 0 2px $brand-secondary;
    }
  }
  &__card {
    position: absolute;
    width: 20em;
    background: white;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      left: 0.75em;
      margin-left: -20px;
      bottom: 4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 20px 0 20px;
      border-color: $brand-primary transparent transparent transparent;
      opacity: 0;
      transition: opacity 0.5s 0.2s ease;
    }
    .inner {
      @include brandBorder;
      position: absolute;
      left: -50%;
      margin-left: 0.75em;
      bottom: 1em;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      background: transparent;
      border-color: transparent;
      transition: all 0.5s ease-in-out;
      z-index: 999;
    }

    .image {
      @include backgroundCover;
      height: 5em;
    }
    .heading {
      @include brandBorderBottom;
      padding: 0.5em;
    }
    .meta {
      display: grid;
      grid-template-columns: 1fr 1fr;
      span {
        @include brandBorderRight;
        padding: 0.5em;
        &:last-of-type {
          border-right: none;
        }
      }
      font-size: 0.8em;
    }
    a {
      display: block;
      padding: 0.5em 2em;
      font-family: $brand-font;
      font-style: italic;
      text-align: center;
      background: $brand-primary;
      color: white;
    }
    &.high {
      .inner {
        bottom: initial;
        top: 3em;
      }
      &:after {
        bottom: initial;
        top: calc(12px - -1.5em);
        transform: rotate(180deg);
      }
    }
    &.left {
      &:after {
        left: 2.5em;
        bottom: -1em;
        transform: rotate(90deg);
      }
      .inner {
        left: 2em;
        margin-left: 0.75em;
        bottom: -3em;
      }
    }
    &.right {
      &:after {
        left: -1em;
        bottom: -1em;
        transform: rotate(270deg);
        top: initial;
      }
      .inner {
        left: calc(-100% - 2em);
        margin-left: 0.75em;
        bottom: -3em;
        top: initial;
      }
    }
    &.high.left {
      &:after {
        top: 0.5em;
      }
      .inner {
        top: -1em;
        bottom: initial;
      }
    }
    &.high.right {
      &:after {
        top: 0.5em;
      }
      .inner {
        top: -1em;
        bottom: initial;
      }
    }

    &.open {
      &:after {
        opacity: 1;
      }
      .inner {
        max-height: 20em;
        border-color: $brand-primary;
        background: white;
        box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
      }
    }
  }
}

#wipe {
  position: absolute;
  top: 0;
  left: -100vw;
  transition: all 0.42s ease;
  border-right: 5px solid #1f253c;
  width: 100vw;
  height: 100%;
  background: hsla(227, 30%, 18%, 0.3);
  :after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  &.right {
    left: 100vw;
  }
}

.map-outer-wrapper {
  &.has-overlay {
    &:before {
      @include childOverlay;
      @include blackGrad;
      height: 40%;
      opacity: 0.5;
      transform: rotate(180deg);
    }
  }
  .overlay-text {
    position: absolute;
    z-index: 99;
    top: 8em;
    margin-left: 25%;
    width: 50%;
    text-align: center;
  }
  .overlay-filter {
    position: absolute;
    z-index: 99;
    bottom: 1em;
    left: 1em;
  }
  .filter-wrapper {
    position: absolute;
    top: 0;
    left: -15em;
    height: 100%;
    width: 15em;
    display: grid;
    align-items: center;
    background: $brand-secondary;
    transition: all 0.5s ease;
    z-index: 99;
    &__trigger {
      position: absolute;
      top: 50%;
      right: -15em;
      width: 15em;
      padding: 0.5em;
      border-radius: 0 5px 5px 0;
      background: $brand-secondary;
      color: white;
      text-align: center;
      span {
        /*font-size: 0.8em;*/
        text-transform: uppercase;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
        i {
          display: block;
        }
      }
      span:last-of-type {
        display: none;
        i {
          margin-bottom: 5px;
        }
      }

      #Reset {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        background-color: $brand-secondary;
        padding: 0;
        display: inherit;
        margin-top: 0.5em;
        width: 100%;
        &.visible {
          max-height: 5em;
          background-color: $brand-primary;
          color: white;
          padding: 3px;
          border: 1px solid white;
          font-style: italic;
          font-family: "mauritius", serif;
          margin-top: 1em;
          transition: background-color 0.5s 0.3s ease;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    &.open {
      left: 0;
      .filter-wrapper__trigger {
        width: 5em;
        right: -5em;
        span:first-of-type {
          display: none;
        }
        span:last-of-type {
          display: block;
        }
      }
    }
  }
}

a.info-link i {
  display: block;
  margin-bottom: 0.25rem;
}

.map-outer-wrapper {
  .filter-header__wrapper {
    border: none;
    background: $brand-secondary;
  }
  .filter-header__item {
    border-right: none;
    color: #ffffff;
    .checkbox .checkmark {
      border-color: white;
    }
    .checkbox input:checked ~ .checkmark {
      background: white;
    }
  }
  .filter-group .heading {
    margin-bottom: 0.5em;
  }
  .filter-header__item .checkbox {
    margin-bottom: 0.5em;
  }
}

.leader-card {
  @include brandBorder;
  display: flex;
  flex-direction: column;
  height: 100%;
  a {
    display: block;
  }
  .banner-image {
    @include backgroundCover;
    height: 10em;
  }
  .content {
    position: relative;
    background: transparent;
    padding: 1em;
    p {
      margin: 0;
      &:first-of-type {
        font-style: italic;
      }
      &:last-of-type {
        position: relative;
        display: inline-grid;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        padding-right: 3em;
        font-weight: 400;
        &:before {
          content: "";
          position: absolute;
          right: 1em;
          width: 1em;
          height: 1em;
          transform: rotate(225deg);
          border-left: 1px solid $brand-primary;
          border-bottom: 1px solid $brand-primary;
        }
      }
    }
  }
}

.filter-wrapper {
  position: relative;
  .mix {
    display: none;
  }
  &.fail {
    height: 10em;
  }
  .fail-message {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 150ms;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    span {
      display: inline-block;
    }
  }
  &.fail .fail-message {
    opacity: 1;
    pointer-events: auto;
  }
}

.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-header {
  .rotated-label {
    display: none;
  }
  &__wrapper {
    @include brandBorder;
    background: white;
  }
  overflow: hidden;
  max-height: 75vh;
  transition: all 1s ease;
  form {
  }
  &__item {
    @include brandBorderRight;
    padding: 1em 2em;
    color: $brand-primary;
    .heading {
      margin-bottom: 1em;
    }
    .checkbox {
      display: block;
      position: relative;
      cursor: pointer;
      user-select: none;
      padding-left: 3em;
      margin-bottom: 1em;
      line-height: 1.5em;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
          background: $brand-primary;
        }
        &:hover ~ .checkmark {
          box-shadow: inset 0 0 0 2px $brand-primary;
        }
      }
      .checkmark {
        @include brandBorder;
        position: absolute;
        top: 0;
        left: 0;
        height: 1.5em;
        width: 1.5em;
        border-radius: 50px;
        transition: all 0.5s ease;
      }
    }
  }
  .filter-reset {
    display: inline-block;
    background: $brand-primary;
    color: white;
    margin: 1em 0;
    padding: 1em 5em 1em 1em;
    font-family: $brand-font;
    font-style: italic;
    margin-left: -100%;
    transition: all 0.5s ease;
    &:hover {
      cursor: pointer;
    }
    &.visible {
      margin-left: 0;
    }
  }
}

.scrolled-filter {
  position: fixed;
  width: 100%;
  top: 0;
  background: darken($brand-secondary, 5%);
  z-index: 500;
  .container {
    overflow: hidden;
  }
  .filter-header {
    position: relative;
    width: 100%;
    padding: 1em 0;
    overflow: visible;
    transition: width 0.5s ease;
    .rotated-label {
      display: inline-block;
      writing-mode: vertical-lr;
      text-orientation: upright;
      position: absolute;
      top: 0;
      left: 0em;
      background: #8a8f74;
      height: 100%;
      font-size: 10px;
      letter-spacing: -6px;
      text-transform: uppercase;
      color: white;
      text-align: center;
      padding: 4px;
    }
    &__wrapper {
      background: darken($brand-secondary, 5%);
      border: none;
    }
  }
  .filter-header__item .heading {
    margin-bottom: 0.5em;
    font-size: 0.85em;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    padding-bottom: 0.5em;
    letter-spacing: 0.1em;
  }
  .checkboxes-wrapper {
    text-align: center;
  }
  .filter-header__item .checkbox {
    display: inline-block;
    padding-left: 1.5em;
    margin-bottom: 5px;
    line-height: 1em;
    margin-right: 1.5em;
    .checkmark {
      height: 1em;
      width: 1em;
    }
  }
  .filter-reset {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10%;
    width: 0;
    overflow: hidden;
    &.visible {
      width: 10%;
    }
  }
  .controls {
    background: $brand-secondary;
    border: none;
  }
  .heading,
  .filter-header__item {
    color: white;
    padding: 0 1em;
  }
  .heading {
    padding: 0;
  }
  .filter-header__item:last-of-type {
    border: none;
  }
  .filter-header__item {
    border: none;
  }
  .filter-active {
    &.filter-header {
      width: 90%;
      transition: width 0.5s ease;
    }
  }
}

.scrolled .scrolled-filter {
  top: 5em;
  transition: top 1s ease;
}
.scrolled .hero__content .filter-header {
  opacity: 0;
}

.filtered-result {
  max-height: 0;
  overflow: hidden;
  background: $brand-secondary;
  transition: max-height 0.5s ease;
  &.visible {
    max-height: 10em;
    position: sticky;
    top: 140px;
    z-index: 999;
  }
  .heading {
    padding: 0.5em;
    color: white;
  }
  span {
    margin-right: 0.25em;
    font-size: 1.4em;
    line-height: 2em;
    transition: all 0.5s ease;
  }
}
.options.empty {
  display: none;
}
.overlay-filter {
  @include brandBorder;
  display: grid;
  grid-auto-columns: minmax(10px, 10em);
  padding: 1em 2em;
  background-color: $brand-secondary;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
    width: 1em;
  }
  .layer-buttons {
    margin-top: 1em;
    &__item {
      @include brandBorder;
      margin-bottom: 0.5em;
      padding: 0.5em;
      text-align: center;
      border-color: white;
      background: $brand-primary;
      color: white;
      transition: all 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background: $brand-primary-dark;
      }
    }
  }
}

.safari-options {
  @include brandBorder;
  margin-bottom: 3em;
  background: white;
  .image {
    @include backgroundCover;
    display: grid;
    height: 100%;
    align-items: center;
    text-align: center;
  }
  .meta {
    display: flex;
    .item {
      @include brandBorderBottom;
      width: 50%;
      padding: 1em 3em;
      &:first-of-type {
        @include brandBorderRight;
      }
    }
    i {
      margin-right: 1em;
      color: $brand-primary;
    }
  }
  .camps {
    grid-column: span 24;
    background: #20263d;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    span {
      @include brandBorderRight;
      white-space: nowrap;
      padding-right: 0.5em;
      margin-right: 0.5em;
      &:last-of-type {
        border-right: none;
      }
      &.title {
        color: $brand-primary;
        border: none;
      }
    }
  }
  .description {
    padding: 1em 3em;
  }

  a.button {
    display: inline-block;
    margin: 0 3em 2em;
    padding: 1em 5em 1em 1em;
    background: $brand-primary;
    color: white;
    font-style: italic;
  }
}

a.image-leader {
  display: block;
  height: 100%;
  width: 100%;
  .image {
    @include backgroundCover;
    height: 15em;
    display: grid;
    padding: 1em;
    align-items: center;
    text-align: center;
  }
}

.cta.bespoke {
  @include backgroundCover;
  padding: 5em 5em 3em;
  p {
    margin: 1em 5em 2em;
    color: white;
  }
  form {
    width: 60%;
    margin: 0 auto;
  }
}

main form.wpcf7-form {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  span:first-of-type {
    text-transform: uppercase;
    background: $brand-primary;
    color: white;
    padding: 1em 3em;
    border: none;
  }
  .form-field {
    @include brandBorder;
    border-bottom: none;
    border-color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    &.text-area {
      grid-template-columns: 1fr;
      border: none;
      span {
        @include brandBorder;
        border-bottom: none;
        border-color: white;
      }
    }
    &.name {
      span:last-of-type {
        border-bottom: 1px solid $brand-primary;
      }
    }
  }
  input,
  textarea {
    border: none;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    font-size: 1em;
    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 10em;
  }
  .form-button {
    @include brandBorder;
    border-color: white;
    margin-top: 1em;
    background: transparent;
    input {
      background-color: transparent;
      font-family: $brand-font;
      font-style: italic;
      font-size: 1.2em;
      color: white;
    }
  }
  .ajax-loader {
    position: absolute;
  }
}

.leading-copy {
  margin-bottom: 1em;
  font-style: italic;
  font-family: $brand-font;
  font-size: 1.4em;
  color: $brand-primary;
}

.two-columns {
  column-count: 2;
  p:first-of-type {
    margin-top: 0;
  }
}

.filter-footer {
  position: relative;
  padding: 2em;
  text-align: center;
  background: $brand-primary;
  color: white;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 20px 50px;
    border-color: transparent transparent $brand-primary transparent;
  }
  a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 2em;
    border-radius: 3px;
    font-style: italic;
    font-family: $brand-font;
    background: white;
    color: $brand-primary;
  }
}

.map-cta {
  min-height: 25vh;
  display: grid;
  padding: 5em;
  margin-bottom: 5em;
  align-content: center;
  text-align: center;
  a {
    display: inline-block;
    padding: 1em 3em;
    font-family: $brand-font;
    font-style: italic;
    font-size: 1.5em;
    border: 1px solid white;
    color: white;
  }
}

.image-panels {
  align-items: center;
  .image {
    @include backgroundCover;
    min-height: 35em;
  }
  .content {
    padding: 1em 5em;
  }
  &.right {
    .col:nth-of-type(1) {
      order: 2;
    }
    .col:nth-of-type(2) {
      order: 1;
    }
  }
}

.text-module {
  p {
    &:first-of-type {
      margin-bottom: 1em;
      font-style: italic;
      font-family: $brand-font;
      font-size: 1.4em;
      color: $brand-primary;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  a {
    @include backgroundCover;
    position: relative;
    display: block;
    min-height: 12em;
    transition: box-shadow 0.3s ease;
    margin-top: 5px;
    &:hover {
      position: relative;
      z-index: 13;
      box-shadow: inset 0 0 0px 5px rgb(245, 245, 245);
    }
    &:nth-of-type(8n - 7) {
      flex: calc(25% - 5px);
      margin-right: 5px;
    }
    &:nth-of-type(8n - 6) {
      flex: calc(40% - 5px);
      margin-right: 5px;
    }
    &:nth-of-type(8n - 5) {
      flex: calc(20% - 5px);
      margin-right: 5px;
    }
    &:nth-of-type(8n - 4) {
      flex: 15%;
    }
    &:nth-of-type(8n - 3) {
      flex: calc(15% - 5px);
      margin-right: 5px;
    }
    &:nth-of-type(8n - 2) {
      flex: calc(20% - 5px);
      margin-right: 5px;
    }
    &:nth-of-type(8n - 1) {
      flex: calc(40% - 5px);
      margin-right: 5px;
    }
    &:nth-of-type(8n) {
      flex: 25%;
    }
  }
}

.carousel_module {
  .owl-item {
    height: 25em;
  }
  &__item {
    @include backgroundCover;
    height: 100%;
  }
  .owl-prev,
  .owl-next {
    &:before {
      background: url("inc/img/slider-arrow-white.svg");
    }
  }
  .owl-nav .owl-prev:before {
    right: -3em;
    transform: rotate(180deg);
  }
  .owl-nav .owl-next:before {
    left: -3em;
    transform: rotate(0deg);
    filter: brightness(500%);
  }
  svg path {
    fill: white;
  }
}

.post-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  div:first-of-type i {
    margin-right: 1em;
  }
  div:last-of-type {
    text-align: right;
    i {
      margin-left: 1em;
    }
  }
  a {
    @include brandBorder;
    display: inline-block;
    padding: 1em 3em;
  }
}

.wrapper-news {
  .item {
    @include brandBorder;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 2em;
    background: white;
    &.image-top {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .image {
      @include backgroundCover;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .content {
      padding: 1em 2em;
    }
    .date {
      font-size: 0.75em;
    }
    p span {
      display: inline-block;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%
      );
      width: 10em;
      height: 2em;
      line-height: 2em;
      margin-left: -9em;
      top: 8px;
      position: relative;
    }
  }
}

.testimonials {
  display: block;
  .owl-item {
    p:first-of-type {
      font-family: $brand-font;
      font-size: 1.2em;
    }
    p:nth-of-type(2) {
      text-transform: uppercase;
      color: $brand-primary;
    }
  }
  .owl-nav {
    top: initial;
    bottom: 1em;
    right: 0;
    width: auto;
    button {
      font-size: 2em;
      background: transparent;
      color: $brand-primary;
    }
  }
}

.popup-image.wrapper {
  position: absolute;
  width: 100%;
  margin-top: 1em;
  overflow: visible;
  z-index: 10;
  background:none;
}
.popup-image {
  .trigger {
    position: absolute;
    top: 0;
    left: 1em;
    border-radius: 100em;
    font-size: 2.5em;
    line-height: 1em;
    text-align: center;
    color: $brand-secondary;
    opacity: 0.8;
    transform: scale(0);
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    &.visible {
      transform: scale(1);
    }
  }
  .profile-image {
    position: absolute;
    top: 2em;
    left: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.3s cubic-bezier(0.66, 0, 0.28, 1.01);
    img {
      width: 100%;
    }
    &.reveal {
      transform: scale(1);
      .close-trigger {
        transform: scale(1);
      }
    }
    .close-trigger {
      position: absolute;
      top: -1em;
      right: 0;
      font-size: 2.5em;
      transition: transform 0.3s 0.5s ease;
      transform: scale(0);
      &:hover {
        cursor: pointer;
      }
    }
  }
  svg {
    height: 15em;
    margin-top: -2em;
    filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.5));
    text {
      font-size: 5em;
      fill: $brand-secondary;
    }
    #top,
    #bottom,
    #left,
    #right {
      stroke-width: 10px;
      stroke: #404040;
    }
  }
}

.wrapper-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	pointer-events: none;
	overflow: hidden;
	transition: opacity 0.5s ease;
    background-size: cover;
    background-position: bottom;
	&.visible {
		opacity: 1;
	}
    video {
        height:100vh;
    }

}

.wrapper--number-counter {
  display: flex;

  .number-counter {
    @include brandBorder;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 2em;
    background: white;
    text-align: center;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &__number {
      margin-bottom: 0.25em;
      padding: 1rem;
      font-size: 3em;
      line-height: 1em;
    }
    &__text {
      padding: 0.25rem;
      background: $brand-primary;
      color: white;
      flex-grow: 1;
    }
  }
}

.enquire-cta {
  @include brandBorder;
  border-color: $brand-secondary;
  padding: 2em;
  background: white;
  text-align: center;
  i {
    margin-bottom: 1rem;
    font-size: 3em;
  }
}

/*==== SIDEBAR====*/

.sidebar {
  @include brandBorder;
  position: sticky;
  top: 8em;
  margin-top: -20vh;
  padding: 2em 2em 0;
  background: $brand-secondary;
  z-index: 999;
  .info-panel {
    display: block;
    margin-bottom: 1rem;
  }
}

.sub-menu-sticky {
  position: sticky;
  top: 100px;
}

.adviceMenu a {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  background: $brand-primary;
  color: white;
}

.sidebar-leader {
  @include brandBorder;
  @include backgroundCover;
  margin-bottom: 3em;
  padding: 3em;
  text-align: center;
  color: white;
  .button {
  }
}

.detail-wrapper {
  @include brandBorder;
  margin-top: 2em;
  margin-bottom: 3em;
  li {
    @include brandBorderBottom;
    display: grid;
    grid-template-columns: 40% 60%;

    background: white;
    .title {
      padding: 0.5em 1em;
      background: $brand-primary;
      border-bottom: 1px solid white;
      color: white;
      display: grid;
      align-content: center;
      text-transform: uppercase;
      font-size: 0.85em;
    }
    .detail {
      padding: 0.5em 1em;
      display: grid;
      align-content: center;
      a {
        position: relative;
        margin: 0 10px 3px 0;
        /*padding-left: 10px;*/
        /*&:before {
          content: "\2022";
          position: absolute;
          left: 0;
          display: inline-block;
      }*/
      }
      &.activities {
        text-align: left;
        li {
          margin-bottom: 3px;
          border: none;
          grid-template-columns: 3em auto;
        }
      }
    }
    &:last-of-type {
      border-bottom: none;
      span {
        border-bottom: none;
      }
    }
  }
}

.safari-summary {
  @include brandBorder;
  margin-bottom: 2em;
  background: white;
  color: $brand-primary;
  .image {
    @include backgroundCover;
    display: grid;
    align-content: center;
    height: 10em;
    text-align: center;
  }
  .meta {
    @include brandBorderBottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    i {
      margin-right: 1em;
    }
    .nights {
      @include brandBorderRight;
      grid-column-start: 1;
      grid-column: span 1;
      padding: 0.5em;
    }
    .cost {
      grid-column-start: 2;
      grid-column: span 1;
      padding: 0.5em;
    }
  }
  .camps {
    padding: 0.5em 0;
    &__item {
      display: block;
      padding: 0.25em 1em;
      text-align: left;
    }
  }
  .button {
    padding: 1em;
    font-style: italic;
    background: $brand-primary;
    color: white;
  }
}

.camp-summary {
  &__item {
    @include brandBorder;
    overflow: hidden;
    margin-bottom: 2em;
    background: white;
    > a {
      display: block;
    }
    .image {
      @include backgroundCover;
      position: relative;
      display: grid;
      align-content: flex-end;
      height: 10em;
      padding-bottom: 3em;
      text-align: center;
      &:before {
        @include childOverlay;
        @include blackGrad;
        z-index: 1;
        opacity: 0.4;
      }
      .heading {
        position: relative;
        z-index: 10;
      }
    }
    .see-more {
      padding: 1em;
      font-family: $brand-font;
      font-style: italic;
      background: $brand-primary;
      color: white;
      cursor: pointer;
    }
    .expanding-panel {
      max-height: 0;
      background: white;
      transition: all 0.5s ease;
      p {
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 0;
      }
    }
    &.open {
      .expanding-panel {
        max-height: 50vh;
        padding-top: 1em;
      }
    }
    .button {
      padding: 1em;
      font-style: italic;
      background: $brand-primary;
      color: white;
    }
  }
  &.full-width {
    .image {
      height: 100%;
    }
    .content {
      background: white;
      .cost,
      .destinations {
        @include brandBorderBottom;
        margin: 0;
        padding: 0.5em 3em;
        i {
          margin-right: 1em;
        }
      }
      .destinations.list {
        border-bottom: none;
        padding-bottom: 0;
        i {
          opacity: 0;
        }
        &:first-of-type i {
          opacity: 1;
        }
        &:last-of-type {
          @include brandBorderBottom;
          padding-bottom: 0.5em;
        }
      }

      .description p {
        display: none;
        padding: 0.5em 3em;
        &:nth-of-type(1) {
          display: block;
        }
      }
      .button {
        display: inline-block;
        margin: 0 3em 2em;
        padding-right: 5em;
      }
    }
  }
  &.featured_property {
    background: white;
    .image {
      height: 15em;
    }
    .location {
      @include brandBorderBottom;
      padding: 0.5em 2em;
      i {
        margin-right: 1em;
      }
      a {
        display: inline-block;
      }
    }
    .description {
      padding: 1em 2em;
    }
  }
  .camps {
    grid-column: span 24;
    background: #20263d;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    span {
      @include brandBorderRight;
      white-space: nowrap;
      padding-right: 0.5em;
      margin-right: 0.5em;
      &:last-of-type {
        border-right: none;
      }
      &.title {
        color: $brand-primary;
        border: none;
      }
    }
  }
}

.safari-itinerary,
.toggle {
  &__item {
    margin-bottom: 1em;
    @include brandBorder;
    overflow: hidden;
    background: white;
    .heading {
      @include brandBorderBottom;
      position: relative;
      padding: 1em 3em;
      font-family: $body-font;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
      svg {
        position: absolute;
        right: 3em;
        top: 1em;
        height: 2em;
        transform: rotate(90deg);
        transition: all 0.5s ease;
        path {
          fill: $brand-primary;
        }
      }
    }
    .content {
      margin-top: -1px;
      max-height: 0;
      transition: all 0.5s ease;
      img {
        min-width: 100%;
        height: auto;
      }
      p {
        margin: 0;
        padding: 0 3em;
      }
    }
    &.open {
      .heading {
        background: $brand-primary;
        color: white;
        svg {
          transform: rotate(-90deg);
          path {
            fill: white;
          }
        }
      }
      .content {
        max-height: 100vh;
        padding-top: 0;
        padding-bottom: 1em;
        p {
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }
    }
  }
}

.itinerary-map {
	.map-outer-wrapper {
		overflow: visible;
	}
	.overlay-filter {
		display: grid;
		grid-template-rows:1fr;
		grid-template-columns: 1fr 1fr 1fr 2fr;
		align-items: center;
		width:calc(100% - 2em);
		bottom:-4em;
		img, .heading {
			grid-row:1/2;
			grid-column:1/2;
		}
		img {
			margin-top:-2em;
		}
		.heading {
			margin-top:2em;
		}
		.layer-buttons {
			grid-row:1/2;
			grid-column:2/4;
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 2em;
			margin-top:0;
			&__item {
				display: flex;
				justify-content: center;
				flex-grow: 1;
				height:100%;
				margin:0;
				align-self: center;
			}
		}
		.button {
			grid-row:1/2;
			grid-column:4/5;
			margin-left: 2em;
			margin-top:0;
		}
	}
}

.toggle {
  &__item {
    padding-bottom: 1px; /*Stops bottom border being clipped by overflow value*/
    border: none;
    background: none;
  }
  .heading {
    @include brandBorder;
    @include brandBorderBottom;
    background: white;
  }
  .content {
    padding: 0;
    &.has-image {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .image {
      @include backgroundCover;
      margin-right: 2em;
    }
  }
}

.destination-summary {
  display: grid;
  margin-bottom: 3em;
  grid-template-columns: 40% 60%;
  .heading {
    padding: 0.5em 1em;
    background: #8a9074;
    color: white;
    align-content: center;
    text-transform: uppercase;
    font-family: $body-font;
    font-size: 0.85em;
  }
  &__item {
    @include brandBorder;
    border-bottom: none;
    grid-column-start: 2;
    grid-column: span 1;
    grid-column-end: 3;
    padding: 0.5em 1em;
    background: white;
    &:last-of-type {
      @include brandBorderBottom;
    }
  }
}

.company-summary {
  &__item {
    .header {
      @include brandBorder;
      position: relative;
      margin-bottom: 1em;
      padding: 0.5em 2em;
      background: white;
      svg {
        position: absolute;
        right: 3em;
        top: 0.25em;
        height: 2em;
        transform: rotate(90deg);
        transition: all 0.5s ease;
        path {
          fill: $brand-primary;
        }
      }
    }
    .body {
      .image {
        @include backgroundCover;
        height: 15em;
      }
      p {
        padding: 0.5em 2em;
      }
      .button {
        margin-bottom: 2em;
        padding: 1em;
        text-align: center;
        font-family: $brand-font;
        background: $brand-secondary;
        color: white;
        span {
          display: block;
          margin-bottom: 0.5em;
          font-style: italic;
        }
      }
    }
    &.visible {
      .header {
        background: $brand-primary;
        .heading {
          color: white;
        }
      }
      svg {
        transform: rotate(270deg);
        path {
          fill: white;
        }
      }
    }
  }
}

.side-panel {
  @include brandBorder background: white;
  .image {
    @include backgroundCover;
    height: 15em;
    display: grid;
    align-content: center;
    text-align: center;
    color: white;
  }
  .content {
    padding: 1em 2em;
  }
}

.page-template-news {
  .safari-summary {
    span a {
      display: block;
      width: 60%;
      margin: 0.5em auto 0;
    }
    a {
      text-align: center;
      color: white;
    }
  }
}

/*===========FOOTER==========*/

footer {
  margin-top: 5em;
  padding: 3em 0 1em;
  font-size: 0.85em;
  background: $brand-primary;
  color: white;
  a {
    color: white;
  }
}

.footer-logo {
  margin-bottom: 1em;
  svg {
    display: block;
    width: 10em;
    &:first-of-type {
      width: 7em;
      margin-bottom: 3px;
    }
    path {
      fill: white;
    }
  }
}

.mandatory {
  display: inline-block;
  margin-left: 2em;
}

.oke {
  text-align: right;
}

.social {
  margin-left: -1em;
  margin-bottom: 3em;
  font-size: 1.5em;
  a {
    padding: 0 1em;
  }
}

footer form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  .form-field {
    grid-column: 1;
    grid-row: 1;
    &:nth-of-type(2) {
      grid-row: 2;
    }
    input {
      width: 100%;
      border: none;
      padding: 1em;
    }
  }
  .form-button {
    grid-column: 2;
    grid-row: 1;
    grid-row-end: 3;
    input {
      width: 100%;
      height: 100%;
      padding: 0 2em;
      font-family: $body-font;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      background: $brand-secondary;
      color: white;
      border: 1px solid white;
    }
  }
  ::placeholder {
    font-family: $body-font;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  input.wpcf7-not-valid {
    border: 1px solid red;
    box-shadow: 0 0 0 3px red;
  }
  span.wpcf7-not-valid-tip {
    display: none;
  }
  div.wpcf7-validation-errors,
  div.wpcf7-acceptance-missing {
    border: 2px solid #4b4d42;
    grid-column: span 2;
    margin: 0;
    padding: 1em;
  }
}
